* {
    color: #D61616;
    margin: 0;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#root {
    margin-right: 20%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-self: stretch;
}

header {
    background-color: #E1E1E1;
    height: 300px;
    transition: height 600ms;
    flex: 0 1 auto;
}

nav {
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
}

nav div {
    margin-left: 1em;
}

main {
    background: #000;
    background: linear-gradient(to bottom, #A9A9A9 0%, #A9A9A9 50%, #000000 100%);
    flex: 1 1 auto;
}

#OutputLog {
    min-width: 50%;
    height: 100%;
    overflow-y: scroll;
    /*border-color: #D61616;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    border: 0;
    background-color: #000000;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,
    DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    white-space: nowrap;
    resize: none;
    padding: 0;
}

#InputRom {
    flex-grow: 1;
    padding : 10px;
}

#CpuReader {
    display:flex;
    height: 100%;
}