* {
    color: #D61616;
    margin: 0;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header, #TitleBar {
    background-color: #E1E1E1;
}

#root {
    margin-right: 20%;
    width: 100%;
}

header {
    height: 300px;
}

nav {
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
}

nav div {
    margin-left: 1em;
}

main {
    background: #000;
    background: linear-gradient(to bottom, #A9A9A9 0%, #A9A9A9 50%, #000000 100%);
    height: 50em;
    padding: 10px;
}